html, #root, body {
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

canvas {
  border: 1px solid gray;
  width: 800px;
  height: 400px;
  background: #222;
  color: #eee;
}
canvas:focus {
  outline: none;
}
